<div class="bg-mammoths" aria-hidden="true">
  {% set mammoth_positions = [
    {"cls": "m1", "top": "8%",  "left": "6%",  "size": 52, "dur": "22s", "delay": "0s",   "rdur": "34s", "rdir": "normal"},
    {"cls": "m2", "top": "18%", "left": "82%", "size": 38, "dur": "26s", "delay": "-4s",  "rdur": "40s", "rdir": "reverse"},
    {"cls": "m3", "top": "68%", "left": "10%", "size": 34, "dur": "19s", "delay": "-9s",  "rdur": "28s", "rdir": "normal"},
    {"cls": "m4", "top": "78%", "left": "78%", "size": 56, "dur": "24s", "delay": "-2s",  "rdur": "45s", "rdir": "reverse"},
    {"cls": "m5", "top": "42%", "left": "90%", "size": 30, "dur": "20s", "delay": "-12s", "rdur": "24s", "rdir": "normal"},
    {"cls": "m6", "top": "48%", "left": "3%",  "size": 42, "dur": "28s", "delay": "-6s",  "rdur": "36s", "rdir": "reverse"},
    {"cls": "m7", "top": "4%",  "left": "45%", "size": 26, "dur": "23s", "delay": "-15s", "rdur": "30s", "rdir": "normal"},
  ] %}
  {% for m in mammoth_positions %}
  <img class="mammoth {{ m.cls }}" src="{{ url_for('static', filename='mammoth.png') }}" alt=""
       style="top:{{ m.top }}; left:{{ m.left }}; width:{{ m.size }}px;
              --float-duration:{{ m.dur }}; --float-delay:{{ m.delay }};
              --spin-duration:{{ m.rdur }}; --spin-direction:{{ m.rdir }};">
  {% endfor %}
</div>
